@import "../../assets/styles/helpers/variables.scss";

.input-holder {
    & .input-field {
        display: block;
        width: 100%;
        height: 40px;
        padding: 0 10px;
        border: 1px solid $core-secondary-color;

        &.invalid {
            border-color: $core-red-color;
        }
    }

    & .error {
        font-size: 0.8rem;
        color: $core-red-color;
    }
}
