// Colors
$core-primary-color: #4b79a1;
$core-secondary-color: #283e51;
$core-black-color: #303030;
$core-white-color: #ffffff;
$core-red-color: #f4493f;

// Fonts

$f-weight-regular: 400;
$f-weight-bold: 600;
$f-weight-extra-bold: 700;

// Breakpoints

$mobile: 568px;
$tablet: 768px;
$desktop: 1024px;
$mediumDesktop: 1280px;
$largeDesktop: 1400px;
